# Desafio 1RA

In [8]:
import pandas as pd
import numpy as np

In [11]:
INPUT_FILE_PATH = "/home/jovyan/AnálisisEstadísticoPython/Datos/ds_salaries.csv"
df = pd.read_csv(INPUT_FILE_PATH)

In [18]:
df.head()

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2023,SE,FT,Principal Data Scientist,80000,EUR,85847,ES,100,ES,L
1,2023,MI,CT,ML Engineer,30000,USD,30000,US,100,US,S
2,2023,MI,CT,ML Engineer,25500,USD,25500,US,100,US,S
3,2023,SE,FT,Data Scientist,175000,USD,175000,CA,100,CA,M
4,2023,SE,FT,Data Scientist,120000,USD,120000,CA,100,CA,M

## El promedio general de los salarios, desviación estándar, quintiles y rango.

In [14]:
df.salary_in_usd.describe()

count      3755.000000
mean     137570.389880
std       63055.625278
min        5132.000000
25%       95000.000000
50%      135000.000000
75%      175000.000000
max      450000.000000
Name: salary_in_usd, dtype: float64

In [44]:
rango = df.salary_in_usd.describe()['max'] - df.salary_in_usd.describe()['min']
rango

444868.0

In [45]:
df.salary_in_usd.quantile(q=[0, .2, .4, .6, .8, 1])

0.0      5132.0
0.2     83972.8
0.4    120000.0
0.6    149850.0
0.8    185900.0
1.0    450000.0
Name: salary_in_usd, dtype: float64

## Comparación entre los salarios agrupados por 3 diferentes categorías 
categorías a tu 
elección. ¿Para cuál de ellas las medidas de tendencia central son más
representativas? ¿Para cuál son menos representativas? Explica

In [68]:
df_g_experience = df.groupby('experience_level').salary_in_usd.describe()[['mean', '50%', 'std']]
df_g_experience['diff'] = df_g_experience['mean'] - df_g_experience['50%']

print('promedio desviaciones', df_g_experience['std'].mean())
print('promedio diferencia de media y mediana', df_g_experience['diff'].mean())
df_g_experience

promedio desviaciones 58542.82576302385
promedio diferencia de media y mediana 4763.556218031641

                           mean       50%           std         diff
experience_level
EN                 78546.284375   70000.0  52225.424309  8546.284375
EX                194930.929825  196000.0  70661.929661 -1069.070175
MI                104525.939130  100000.0  54387.685128  4525.939130
SE                153051.071542  146000.0  56896.263954  7051.071542

In [69]:
df_g_csize = df.groupby('company_size').salary_in_usd.describe()[['mean', '50%', 'std']]
df_g_csize['diff'] = df_g_csize['mean'] - df_g_csize['50%']
print('promedio desviaciones', df_g_csize['std'].mean())
print('promedio diferencia de media y mediana', df_g_csize['diff'].mean())
df_g_csize

promedio desviaciones 65593.44889273787
promedio diferencia de media y mediana 9670.737725974002

                       mean       50%           std          diff
company_size
L             118300.982379  108500.0  75832.391505   9800.982379
M             143130.548367  140000.0  58992.813382   3130.548367
S              78226.682432   62146.0  61955.141792  16080.682432

In [70]:
df_g_etype = df.groupby('employment_type').salary_in_usd.describe()[['mean', '50%', 'std']]
df_g_etype['diff'] = df_g_etype['mean'] - df_g_etype['50%']
print('promedio desviaciones', df_g_etype['std'].mean())
print('promedio diferencia de media y mediana', df_g_etype['diff'].mean())
df_g_etype

promedio desviaciones 65099.98724294976
promedio diferencia de media y mediana 15358.401363003513

                          mean       50%            std          diff
employment_type
CT               113446.900000   75000.0  130176.746842  38446.900000
FL                51807.800000   50000.0   29458.879336   1807.800000
FT               138314.199570  135000.0   62452.177613   3314.199570
PT                39533.705882   21669.0   38312.145181  17864.705882

### Conclusion
Comparando el promedio de desviaciones y el promedio de diferencia entre las medianas y la media se concluye que 
- La agrupacion mediante el nivel de experiencia (columna 'experience_level') tiene tendencias centrales mas representativas
- La agrupacion mediante el tipo de empleo es la que tiene tendencias centrales menos representativas

## 3-¿Qué cargos reciben mejores sueldos en las empresas con sede en Estados Unidos?

In [58]:
print("Los dies cargos con mejor sueldo en estados unidos son")
df[df.company_location == 'US'].groupby('job_title')['salary_in_usd'].mean().sort_values(ascending=False)[0:10]

Los dies cargos con mejor sueldo en estados unidos son

job_title
Data Analytics Lead                   405000.000000
Data Science Tech Lead                375000.000000
Director of Data Science              294375.000000
Principal Data Scientist              255500.000000
Cloud Data Architect                  250000.000000
Applied Data Scientist                238000.000000
Head of Data                          233183.333333
Machine Learning Software Engineer    217400.000000
Data Lead                             212500.000000
Head of Data Science                  202355.000000
Name: salary_in_usd, dtype: float64